:host {
    display: block;
    position: relative;
    overflow: auto;
    color: rgba(0,0,0,0.87);
    background-color: rgb(255,255,255);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    
    margin: 16px;
    padding: 16px;
}

:host /deep/ form {
    font-size: 14px;
}

:host /deep/ form md-input-container {
    padding: 4px 0;
}

:host /deep/ .app-content-footer {
    margin-top: 16px;
    border-top: 1px solid #d4d4d4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 8px;
}

:host /deep/ .app-content-footer button {    
    margin-left: 8px;
}