<div class="header">
    <div class="header-content">
        <img class="md-avatar" src="https://material.angularjs.org/latest/img/list/60.jpeg" alt="">
        <a href="">daniel@internovam.com</a>
    </div>
    <div class="header-footer">
        <div></div>

        <div>
            <button md-button [matMenuTriggerFor]="menu" style="font-size: 12px;">OPCIONES</button>

            <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="below">
                <button md-menu-item>
                    <span> Logout </span>
                </button>
                <button md-menu-item disabled>
                    <span> Check voicemail </span>
                </button>
                <button md-menu-item>
                    <span> Disable alerts </span>
                </button>
            </mat-menu>
        </div>
    </div>
</div>

<div class="menu">
    <nav>
        <dl>
            <dt routerLink="./home" routerLinkActive="active">Home</dt>
        </dl>

        <dl>
            <dt routerLink="./user" routerLinkActive="active">User</dt>
        </dl>

        <dl>
            <dt routerLink="./clients" routerLinkActive="active">Client</dt>
        </dl>

        <dl>
            <dt routerLink="./news" routerLinkActive="active">News</dt>
        </dl>

        <dl>
            <dt class="menu-group">Submenu 1<i class="material-icons expand">expand_more</i></dt>
            <div class="submenu">
                <dd>
                    <a routerLink="./demo" routerLinkActive="active">Item 1.1</a>
                    <a href="#">Item 1.2</a>
                    <a href="#">Item 1.3</a>
                </dd>
            </div>
        </dl>

        <dl>
            <dt class="menu-group">Submenu 2<i class="material-icons expand">expand_more</i></dt>
            <div class="submenu">
                <dd>
                    <a href="#">Item 2.1</a>
                    <a href="#">Item 2.2</a>
                    <a href="#">Item 2.3</a>
                </dd>
            </div>
        </dl>


        <div class="md-divider"></div>

    </nav>
</div>
