<app-content>
  <!-- demo2<input [(ngModel)]="testString2"> -->

  <app-input-demo [(ngModel)]="testString2"></app-input-demo>
  <h1>page component: {{ testString2 }}</h1>
  <button (click)="testString2=null">change Value</button>
</app-content>}

<app-content>
  <h1>CKEditor</h1>

  <ckeditor
    [(ngModel)]="ckeditorContent">
  </ckeditor>

  <p *ngIf="ckeditorContent" class="ckeditor-html">{{ ckeditorContent }}</p>
</app-content>

<app-content>
  <h1 (click)="filesLoaded()">Gallery</h1>

  <app-file-input [(ngModel)]="fileArray" name="fileArray" (upload)="filesLoaded()"></app-file-input>
</app-content>}
