app-toolbar .toolbar-section{
    background-color: rgb(255,255,255);
    color: #666;
    padding-left: 32px;
    font-size: 16px;
    line-height: 44px;
}

section {
    margin: 16px 32px;
    padding: 16px;
    background-color: rgb(255,255,255);
}

fieldset {    
    margin: 8px;
    padding: 8px;
}

.form-content {
    box-sizing: border-box;
    display: flex;    
}

.inputs-section {
    padding: 8px;    
}

.imagen-section div {
    position: relative;
    padding: 16px;
}

.imagen-section div img {
    height: 250px;
    width: 250px;    
    margin-top: 32px;
}

.imagen-section div button {
    position: absolute;
    bottom: -8px;
    right: -8px;
}