<app-toolbar class="large-toolbar toolbar-background">
  <div class="md-toolbar-tools toolbar-flex">
      <button md-icon-button routerLink="./../">        
        <md-icon>arrow_back</md-icon>
      </button>

      <div class="flex"></div>
      
      <!-- <button md-icon-button *ngIf="client.id" (click)="delete()">
        <md-icon>delete</md-icon>
      </button>

      <button md-icon-button *ngIf="!client.id" (click)="delete()">
        <md-icon>save</md-icon>
      </button> -->      

      <button type="button" md-raised-button (click)="reset()">
        <md-icon>refresh</md-icon>RESET
      </button>

      <button type="button" md-raised-button *ngIf="client.id" (click)="delete()">
        <md-icon>delete</md-icon>DELETE
      </button>

      <button type="submit" md-raised-button form="clientForm">
        <md-icon>save</md-icon>SAVE
      </button>
  </div>

  <div class="toolbar-section">
    {{ title }}
  </div>
</app-toolbar>

<app-content class="md-whiteframe-4dp">
  <div *ngIf="alert.active" class="alert alert-success" role="alert">
    <strong>{{alert.title}}</strong> {{alert.message}}
  </div>

  <form id="clientForm" [formGroup]="form" (ngSubmit)="form.valid ? (client.id ? update() : save()) : null">
      <fieldset [disabled]="alert.active">
        <div class="form-content">
          <div class="inputs-section">
            <md-input-container style="width: 50%">
              <input mdInput placeholder="First Name" type="text" id="first_name" [(ngModel)]="client.first_name" formControlName="first_name">
              <md-error *ngIf="form.controls['first_name'].hasError('required')" class="form-control-feedback">
                Required field
              </md-error>
            </md-input-container>

            <md-input-container style="width: 49%">
              <input mdInput placeholder="Last Name" type="text" id="last_name" [(ngModel)]="client.last_name" formControlName="last_name">
              <md-error *ngIf="form.controls['first_name'].hasError('required')" class="form-control-feedback">
                Required field
              </md-error>
            </md-input-container>

            <md-input-container style="width: 100%">
              <input mdInput placeholder="Email" type="email" id="email" [(ngModel)]="client.email" formControlName="email">
              <md-error *ngIf="form.controls['email'].hasError('pattern')" class="form-control-feedback">
                Invalid Email
              </md-error>
            </md-input-container>

            <md-input-container style="width: 100%">
              <input mdInput placeholder="Trademark" type="text" id="trademark" [(ngModel)]="client.trademark" formControlName="trademark">
            </md-input-container>

            <md-input-container style="width: 100%">
              <input mdInput placeholder="Img trademark" type="text" id="img_trademark" [(ngModel)]="client.img_trademark" formControlName="img_trademark">
            </md-input-container>

            <md-input-container style="width: 49%">
              <input mdInput placeholder="Telephone" type="tel" id="phone" [(ngModel)]="client.phone" formControlName="phone">
            </md-input-container>

            <md-input-container style="width: 50%">
              <input mdInput placeholder="Cellphone" type="tel" id="mobile_phone" [(ngModel)]="client.mobile_phone" formControlName="mobile_phone">
            </md-input-container>
          </div>

          <div class="imagen-section">
            <div>
              <img class="md-whiteframe-4dp" [src]="imageFile ? imageFile.link : 'https://www.financiero.pe//themes/custom/financiero/img/glyph-servicio-al-cliente.svg'">
              <button type="button" md-fab  onclick="document.querySelector('#exampleInputFile').click()">
                <md-icon>attach_file</md-icon>
              </button>
              <input type="file" id="exampleInputFile" (change)="imagesPreview($event)" style="display: none;">
            </div>
            <!--<div style="width: 100%; padding: 8px 0;">              
              <button type="button" md-raised-button color="primary" onclick="document.querySelector('#exampleInputFile').click()" style="width: 100%;">
                Seleccionar archivo
              </button>
              <span *ngIf="imageFile">{{ imageFile.name }}</span>
              <input type="file" id="exampleInputFile" (change)="imagesPreview($event)" style="display: none;">
            </div>-->
          </div>
        </div>
      </fieldset>
  </form>

  <!-- <div class="app-content-footer">
    <button type="button" md-raised-button (click)="reset()">RESET</button>
    <button type="submit" form="clientForm" md-raised-button color="primary">SAVE</button>
  </div>   -->
</app-content>