.login-module {
    background: url('http://fuse-angular-material.withinpixels.com/assets/images/backgrounds/march.jpg') no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* flex: 1; */

    width: 384px;
    max-width: 384px;
    margin: 32px;
    padding: 32px;
    padding-bottom: 0;
    background: #FFF;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.90);
}

.logo {
    width: 144px;
    height: 144px;
    line-height: 144px;
    font-size: 86px;
    font-weight: 500;
    margin: 32px auto;
    background-color: #cc0033;
    color: #FFF;
    border-radius: 2%;
}

.title {
    font-size: 17px;
    margin-bottom: 32px;
}

form {
    margin-bottom: 100px;
}

button[type=submit] {
    position: absolute;
    bottom: 0;
    left: 0;
    /*background-color: rgb(1,87,155);
    color: rgba(255,255,255,0.87);*/
    height: 64px;
    width: 100%;    
    font-size: 18px;
    font-weight: 100;
    letter-spacing: .01em;
}

button[type=submit]:hover {
    /*background-color: rgb(3,155,229);*/
}