<app-toolbar class="large-toolbar toolbar-background">
  <div class="md-toolbar-tools">
      <i class="material-icons light-soft">person</i>
      <span class="light-soft">Clients</span>

      <div class="flex"></div>

      <!-- <button mat-icon-button routerLink="./new">
        <mat-icon>add</mat-icon>
      </button>

      <button mat-icon-button *ngIf="selected[0]" [routerLink]="['../clients', selected[0].id]">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button *ngIf="selected[0]" (click)="deleteConfirmation=true">
        <mat-icon>delete</mat-icon>
      </button> -->

      <button type="button" mat-raised-button [disabled]="!selected[0].id" (click)="deleteConfirmation=true">
        <mat-icon>delete</mat-icon>DELETE
      </button>

      <button type="button" mat-raised-button [disabled]="!selected[0].id" [routerLink]="['../clients', selected[0].id]">
        <mat-icon>edit</mat-icon>EDIT
      </button>
  </div>
</app-toolbar>

<section>
      <ngx-datatable
        class="material"
        [rows]="rows"
        [loadingIndicator]="isLoading"
        [columns]="columns"
        [columnMode]="'force'"
        [scrollbarH]="true"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'
        [selected]="selected"
        [selectionType]="'single'"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'>
      </ngx-datatable>

      <button type="button" mat-fab routerLink="./new" style="position: absolute; bottom: 12px; right: 12px;">
        <mat-icon>person_add</mat-icon>
      </button>
</section>

<div dialog [ngClass]="{'active': deleteConfirmation}">
  <div class="dialog">
    <div class="title">
      ¿Esta seguro de eliminar cliente?
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, architecto iusto eius esse iure, tempora reprehenderit velit, cumque nulla officia dicta! Temporibus aspernatur, natus vitae.
    </div>

    <div class="footer">
      <button type="button" class="btn btn-lg secondary" (click)="deleteConfirmation=false">CANCELAR</button>
      <button type="button" class="btn btn-lg btn-primary" (click)="deleteConfirmation=false; delete()">ACEPTAR</button>
    </div>
  </div>
</div>
