<div class="login-module">
  <div class="login-section md-whiteframe-8dp">
    <div class="logo">
      <span>Int</span>
    </div>

    <div class="title">Log in to your account</div>

    <form [formGroup]="form" (ngSubmit)="form.valid && loginUser()">
      <mat-form-field style="width: 100%">
        <input matInput type="email" placeholder="Email" formControlName="email">

        <mat-error *ngIf="form.controls['email'].hasError('pattern')" class="form-control-feedback">
          Invalid Email
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('required')" class="form-control-feedback">
          Email is required
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%">
        <input matInput type="password" placeholder="Password" formControlName="password">

        <mat-error *ngIf="form.controls['password'].hasError('required')" class="form-control-feedback">
          Password is required
        </mat-error>
      </mat-form-field>

      <span *ngIf="message" style="color: red;">{{ message }}</span>

      <button type="submit" mat-raised-button color="primary">INICIAR SESIÓN</button>
    </form>

  </div>
</div>
