:host {            
    height: 100%;    
}

.button {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;        
    min-width: 64px;
    padding: 0 16px;

    border: 0;
    border-left: 1px solid rgba(0,0,0,.12);    
    cursor: pointer;
    outline: none;

    color: rgba(0,0,0,.54);
    font-size: 14px;
    font-weight: bold;
}

.button:hover {
    background-color: rgba(0,0,0,.15);
}

.button i{    
    color: rgba(0,0,0,.54);
    width: 24px;
    vertical-align: middle;
}

.button /deep/ img {
    height: 35px;
    width: 35px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}

