:host {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    z-index: 2;
    font-size: 20px;
    min-height: 64px;
    width: 100%;    

    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
    background: #D50000 !important;
    background-color: #ff4081 !important;
    color: rgba(255,255,255,.87);
    z-index: 3;
}

:host /deep/ .md-toolbar-tools {    
    font-size: 20px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}

/* CUSTOM STYLES */
:host.toolbar-background {
    background-image: url('http://apiv2.gn7logistic.com:3000/images/background/header-bg.png') !important;
    background-size: cover !important;
}

:host.large-toolbar {
    min-height: 152px;
    padding-top: 8px;
}

:host.large-toolbar /deep/ .md-toolbar-tools.toolbar-flex {    
    max-height: initial;
    height: initial;
    flex: 1;
}

:host.large-toolbar /deep/ .md-toolbar-tools button[md-raised-button]{
    color: rgba(0, 0, 0, 0.87);
    margin-left: 8px;
}

:host.large-toolbar /deep/ .md-toolbar-tools button[md-raised-button] md-icon{
    font-size: 18px;
    height: 18px;
    width: 18px;
    margin-right: 8px;
    color: rgba(0,0,0,.54);
}