<div class="gallery">
  <div class="gallery-files">
    <div class="gallery-file-images" appDnd (filesChangeEmiter)="addToGallery($event)">
      <div class="image-wrapper" *ngFor="let file of gallery; let i=index">
        <div class="remove" (click)="removeFromGallery(i)"><span>x</span></div>
        <img [src]="getImagePreview(file)">
        <p>{{ file.name }}</p>
      </div>

      <div class="placeholder" *ngIf="gallery.length==0">
        Drag & drop files here...
      </div>
    </div>
  </div>

  <div class="gallery-file-actions">
    <div class="files-selected">
      <md-icon>insert_drive_file</md-icon>
      <p [style.color]="gallery.length ? 'rgba(0, 0, 0, 0.87)' : 'rgba(0, 0, 0, 0.26)'">
        {{ gallery.length ? (gallery.length==1 ? (gallery[0].name) : (gallery.length + ' files selected')) : 'Select file' }}
      </p>
    </div>
    
    <div class="buttons">
      <input 
        type='file'
        multiple
        #inputFile
        (change)="addToGallery($event)"
        (keyup)="addToGallery($event)"
        style="display: none;"
      >
      <button type="button" md-raised-button (click)="cleanGallery()">
        <md-icon>delete</md-icon>
        DELETE
      </button>
      <button type="button" md-raised-button color="primary" (click)="inputFile.click()">
        <md-icon>folder</md-icon>
        BROWSE
      </button>
    </div>
  </div>
</div>